spring:
  # Profile
  config:
    activate:
      on-profile: local

  # Datasource
  datasource:
    url: jdbc:mysql://localhost:3306/marketgola
    driver-class-name: com.mysql.cj.jdbc.Driver

# mybatis
mybatis:
  mapper-locations: classpath:mybatis/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: 'true'
  type-aliases-package:
    'com.flab.marketgola.user.domain'