<configuration>
<!--    로컬환경 -->
<!--    참고: https://logback.qos.ch/manual/layouts.html#coloring-->
    <springProfile name="local">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.marketGola" level="INFO"/>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>
    </springProfile>

    <!--    개발환경 -->
    <springProfile name="dev">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
            </encoder>
        </appender>

        <logger name="com.marketGola" level="INFO"/>

        <root level="warn">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

<!--    운영환경-->
    <springProfile name="prod">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
            </encoder>
        </appender>

        <logger name="com.marketGola" level="INFO"/>

        <root level="warn">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
</configuration>