<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.marketgola.order.mapper.OrderProductMapper">
  <select id="findById" resultType="OrderProduct">
    select id, count, order_id, product_id
    from order_product
    where id = #{id}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into order_product (count, order_id, product_id)
    values (#{count}, #{order.id}, #{product.id})
  </insert>

  <delete id="deleteAll">
    delete
    from order_product
  </delete>

</mapper>