<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.marketgola.order.mapper.OrderMapper">
  <select id="findById" resultType="Order">
    select id,
           receiver_name,
           receiver_phone,
           receiver_address,
           order_status,
           created_at,
           updated_at,
           delivered_at
    from `ORDER`
    where id = #{id}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into `ORDER` (receiver_name, receiver_phone, receiver_address, user_id)
    values (#{receiverName}, #{receiverPhone}, #{receiverAddress}, #{user.id})
  </insert>

</mapper>