<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.marketgola.product.mapper.ProductMapper">

  <select id="findById" resultType="Product">
    select id, name, price, stock, is_deleted, updated_at
    from product
    where id = #{id}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into product (name, price, stock, is_deleted, display_product_id)
    values (#{name}, #{price}, #{stock}, #{isDeleted}, #{displayProduct.id})
  </insert>

  <insert id="insertOrUpdate" keyProperty="id" keyColumn="id">
    insert into product (id, name, price, stock, is_deleted, display_product_id)
    values
    <foreach item="product" index="index" collection="list"
      separator=",">
      (#{product.id}, #{product.name}, #{product.price}, #{product.stock}, #{product.isDeleted},
      #{product.displayProduct.id})
    </foreach>
    as p
    ON DUPLICATE KEY UPDATE
    name = p.name,
    price = p.price,
    stock = p.stock,
    is_deleted = p.is_deleted,
    display_product_id = p.display_product_id
  </insert>

  <update id="updateStatusByDisplayProductId">
    update product
    set is_deleted = #{product.isDeleted}
    where display_product_id = #{id}
      and is_deleted = false
  </update>

  <update id="updateStockOptimistic">
    update product
    set stock = #{stock}
    where id = #{id}
      and updated_at = #{updatedAt}
  </update>

  <delete id="deleteAll">
    delete
    from product
  </delete>
</mapper>

