<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.marketgola.user.mapper.ShippingAddressMapper">
  <select id="findAllByUser" resultType="ShippingAddress">
    select *
    from shipping_address
    where user_id = #{id}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into shipping_address (user_id, address, is_default)
    values (#{user.id}, #{address}, #{isDefault})
  </insert>
</mapper>

