<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marketgola.user.repository.mybatis.UserMapper">
  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    insert into user (login_id, email)
    values (#{loginId}, #{email})
  </insert>

  <select id="findByLoginId" resultType="com.marketgola.user.domain.User">
    select id, login_id, email
    from user
    where login_id = #{loginId};
  </select>

</mapper>